@model CoquoRev4.Models.Dish

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishDescription)
        </dd>
    </dl>
</div>


<h3>Ingredients</h3>
<ul>
    @foreach(Cook c in Model.Cooks)
    {
        <li>@c.Ingredient.IngredientName</li>
    }
</ul>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
