@model CoquoRev4.Models.Dish

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Dish</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DishName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DishName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DishDescription)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DishDescription)
		</dd>

		<dt class="col-sm-2">
			Ingredient:
		</dt>
		<dd class="col-sm-10">
			@foreach (string i in ViewBag.DishIngredients)
			{
				@i<br />
			}
		</dd>

	</dl>
</div>


<p>- - - Not Functional - - -</p>
@* TODO: add new ingredient to pantry inventory, ingredient objects*@
<form asp-action="AddToIngredient">
	Add Ingredient <input type="text" />
	<input type="submit" value="Add to Pantry"/>
</form>

@* TODO: add ingredient objects to dish object*@
<form asp-controller="Dishes" asp-action="AddIngredientToDish">
    <input type="hidden" name="dish-id" value="@Model.DishID" />
    <select name="ingredient-id">
        @foreach (Ingredient i in ViewBag.Ingredient)
        {
            <option value="@i.IngredientID">@i.IngredientName</option>
        }
    </select>
    <input type="submit" value="Add to Dish" />

    <br /><br />
</form>
<form>
	@*
		TODO: use a drop down list box instead of individual buttons
		There could be hundreds of ingredients in the pantry
	*@
	<p>- - - Functional with poor format - - -</p>
	@foreach (Ingredient i in ViewBag.Ingredient)
	{
		<div>
			@i.IngredientName
		</div>
		<a class="btn btn-secondary text-light" type="submit" asp-action="AddIngredientToDish" asp-controller="Dishes" asp-route-dishId="@Model.DishID" asp-route-ingredientId="@i.IngredientID">
			Add To Dish
		</a><br />
		<br />
	}
</form>

<div>
	<a asp-action="Edit" asp-route-id="@Model.DishID">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
